<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%= message %>
    <form action="/user/login" method="post">

        <input type="text" id="email" placeholder="phonenumber" name="phonenumber"> <br />
        <input type="text" id="password" placeholder="password" name="password"> <br />
        <button class="text-danger">login</button>
    </form>

    <a href="/login">login with email</a>
</body>

</html>