<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>These are products that are available</h1>


    <% product.forEach((product, index)=>{ %>
        <div style="display: flex; align-items: center;">
            <h1><%= product.productName %></h1>
            <form action="/delete/<%= index %>" method="post"><button>delete</button></form>
            <form action="/edit/<%= index %>" method="get"><button>edit</button></form>        
        </div>

        <% }) %>

</body>

</html>